<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Shopping Mall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .right-section {

            border: 2px solid;
        <!-- position: fixed; -->
            top: 0;
            right: 0;
            width: 400px;
            height: 500px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

<!--<div class="container-fluid">-->
<div class="col-md-9 mt-5">
    <div class="row justify-content-center">

        <!-- 정보 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="path_to_product_image" alt="Product Image" class="rounded float-start">
                </div>
                <div class="col-md-6">

                    <!-- 들어갈 값: item(상품명, 상세설명, 타입, 도수, 평가, 가격) -->
                    <h2>Name<span th:text="${itemNm}">soju</span></h2>
                    <p>Detail<span th:text="${itemDetail}">sweet mango sul</span></p>
                    <p>type: <span th:text="${type}">soju</span></p>
                    <p>abv: <span th:text="${abv}">10.5%</span></p>
                    <p>Star Rating: <span th:text="${starRating}">4.5</span></p>  <!--별점.. 이걸어쨰-->
                    <h3>price: <br/><span th:text="${price}">3000won</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Additional Details</h3>
                    <p>Additional information and images can be displayed here.</p>
                    <img src="path_to_additional_image" alt="Additional Image" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- 주문 -->
        <div class="col-md-3 right-section">
            <h4 class="mt-5">Order Details</h4>
            <div class="form-group mt-3">
                <label for="quantity">quantity</label>


                <div class="input-group" role="group" aria-label="quantity control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-outline-primary" id="decreaseBtn">-</button>
                    </span>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-outline-primary" id="increaseBtn">+</button>
                    </span>
                </div>

            </div>
            <p>total price<th:span>100 won</th:span></p>
            <button class="btn btn-primary">장바구니</button>
            <button class="btn btn-outline-primary">구매하기</button>
        </div>

    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>