<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Shopping Mall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        <!-- 주문 정보 -->
        .right-section {
            border: 2px solid;
            top: 0;
            right: 0;
            width: 200px;
            height: 400px;
            background-color: #f8f9fa;
        }

        <!-- 상품 정보 -->
        .left {
               height: 400px;
        }

        <!-- 하단 박스 -->
        .image {
            display: flex;

            top: 0;
            right: 0;
            width: 180px;
            height: 100px;
            margin-left: 10px;
            background-color: #f8f9fa;
        }

        .mgt-10 {
            margin-top: 100px;
        }
    </style>

    <script th:inline="javascript">

        $(document).ready(function(){

            calculateTotalPrice();

            $("#quantity").change( function(){
                calculateTotalPrice();
            });
        });

        function calculateTotalPrice(){
            var quantity = $("#quantity").val();
            var price = $("#price").val();
            var totalPrice = price*quantity;
            $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");            <!-- csrf!!! -->
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";

            <!-- 주문할 상품의 아이디와 수량 데이터를 전달할 객체를 생성 -->
            var paramData = {
                itemId : $("#itemId").val(),
                quantity : $("#quantity").val()
            };


            <!-- 장바구니로 데이터를 전송  -->
            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){             <!-- 데이터를 전송하기 전에 헤더에 csrf값을 설정 -->
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",                      <!-- 서버에서 결과값을 받을 데이터 타입을 제이슨으로 지정 -->
                cache   : false,                        <!-- 캐시에 저장된 내용을 불러오는게 아니라 매번 refresh. 적지 않으면 캐시값이 우선 -->

                success  : function(result, status){    <!-- 주문성공시 alert창으로 메세지 출력 후, 메인페이지로 이동 -->
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        <!-- 장바구니 -->
        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                quantity : $("#quantity").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>
</head>
<body>

<!--<div class="container-fluid">-->
<div class="col-md-12 mt-5">
    <div class="row justify-content-center">

        <!-- 정보 -->
        <div class="col-md-6">
            <div class="row left">
                <div class="col-md-6">
                    <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
                </div>

                <input type="hidden" id="itemId" th:value="${item.id}">
                <div class="col-md-6">

                    <!-- 들어갈 값: item(상품명, 상세설명, 타입, 도수, 평가, 가격) -->
                    <h2>Name<span th:text="${itemNm}">soju</span></h2>
                    <p>Detail<span th:text="${itemDetail}">sweet mango sul</span></p>
                    <p>type: <span th:text="${type}">soju</span></p>
                    <p>abv: <span th:text="${abv}">10.5%</span></p>
                    <p>Star Rating <span th:text="${starRating}">4.5</span></p>  <!--별점.. 이걸어쨰-->
                    <p>price: <br/><span th:text="${price}">3000won</span></p>
                </div>
            </div>



            <div class="jumbotron jumbotron-fluid mgt-10">
                <div class="container">
                    <h4 class="display-5">tastes</h4>
                    <hr class="my-4">
                    <p class="lead" th:text="${item.itemDetail}"></p>
                </div>
            </div>

            <!-- 맛? -->
            <div class="row">

                <div class="col-md-6">

                    <script th:inline="javascript">
<!--                        $(document).ready(function(){-->

<!--                          var degree = $("#abv").val();-->

<!--                          switch (degree) {-->
<!--                            case 1:-->
<!--                              document.getElementById("image").src = "icon_rating_one.png";-->
<!--                              break;-->
<!--                            case 2:-->
<!--                              document.getElementById("image").src = "icon_rating_two.png";-->
<!--                              break;-->
<!--                            case 3:-->
<!--                              document.getElementById("image").src = "icon_rating_three.png";-->
<!--                              break;-->
<!--                            case 4:-->
<!--                              document.getElementById("image").src = "icon_rating_four.png";-->
<!--                              break;-->
<!--                            case 5:-->
<!--                              document.getElementById("image").src = "icon_rating_five.png";-->
<!--                              break;-->
<!--                            default:-->
<!--                              document.getElementById("image").src = "default.jpg";-->
<!--                          }-->
<!--                          var imageDegree = 3;-->
<!--                          var imageUrl = "/images/rating/rate-" + imageDegree + ".png";-->
<!--                          document.getElementById("image").src = imageUrl;-->


                           function taste_info(){
                              var imageUrl;

                            for(var i=1; i,=5; i++){
                              if(user_area == i) {
                              img_src = '../images/rating/'+ 'icon_rating_' + i + '.png';
                            }

                            return imageUrl;
                           }

                    </script>

                    <h4>Degree image</h4>
                    <!-- rating 이미지 -->
                    <div>
                        <img id="image" src="" alt="Image">
                        <script>document.getElementById('image').src = taste_info()</script>
                    </div>
                </div>
            </div>

            <!-- 이미지 -->

            <div class="jumbotron jumbotron-fluid mgt-30">
                <div class="container">
                    <h4 class="display-5">item description</h4>
                    <hr class="my-4">
                    <p class="lead" th:text="${item.itemDetail}"></p>
                </div>
            </div>
            <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
            </div>




            <!-- 댓글 + something 아직 엔티티, 디티오 안했음 틀만 잡았어요 -->
            <div class="row">
                <div class="col-md-6">
                    <p><span th:text="${userId}"></span>
                        <span th: text="${itemNm}"></span>
                        <span th: text="${date}"></span>
                    </p>
                    <p><span th: text="${text}"></span></p>
                </div>
            </div>
        </div>

        <!-- 주문 -->
        <div class="col-md-3 right-section sticky-top">
            <h4 class="mt-5">Order Details</h4>
            <div class="form-group mt-3">
                <label for="quantity">quantity</label>

                <div class="input-group" role="group" aria-label="quantity control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-outline-primary" id="decreaseBtn">-</button>
                    </span>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-outline-primary" id="increaseBtn">+</button>
                    </span>
                </div>

            </div>
            <p>total price</p>
            <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>

            <div th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">Order</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="order()">BUY</button>
            </div>
            <div th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-danger btn-lg mt-2">Sold Out</button>
            </div>
        </div>

    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>