<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base_layout}">
<!-- join.html 고유 css 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/join.css}">
</th:block>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<body>
<a id="kakao-login-btn" href="#"><img height="38px" src="kakao/kakao_login.png"></a>

<script th:inline="javascript">
    /*<![CDATA[*/
    const REST_API_KEY = /*[[${spring.security.oauth2.client.registration.kakao.client-id}]]*/ '';
    const REDIRECT_URI = /*[[${spring.security.oauth2.client.registration.kakao.redirect-uri}]]*/ '';
    /*]]>*/
</script>

<script th:inline="javascript" th:src="@{/js/kakao-login.js}"></script>
</body>
</html>
