<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/base_layout_no_footer}"
>

<!-- login.html 고유 css 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/itemUpdateForm.css}">
</th:block>

<!-- login.html 고유 js 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/itemUpdateForm.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <div class="itemUpdate_wrapper">
        <div class="content_wrapper">
            <header class="admin_wrapper">
                <div class="title_wrapper">
                    <div class="title">[관리자] 상품 수정</div>
                </div>
            </header>

            <div class="itemUpdateForm_wrapper">
                <form th:action="@{/item/admin/update}" method="post" th:object="${itemFormDto}">
                    <div class="radioContent_wrapper">
                        <div class="title">상품 상태
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <div class="radio_wrapper">
                            <div class="form-check form-check-inline">
                                <label for="sellstatus1" class="form-check-label">판매중</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sellstatus1"
                                       th:field="*{itemSellStatus}"
                                       th:value="SELL"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sellstatus2" class="form-check-label">품절</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sellstatus2"
                                       th:field="*{itemSellStatus}"
                                       th:value="SOLD_OUT"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mt-20"></div>
                    <label th:for="itemNm" class="itemUpdateForm_inputLabel">
                        상품명
                        <img
                                src="/images/global/icon-asterisk.png"
                                alt="icon"
                                class="itemUpdateForm_inputLabel_img"
                                th:field="*{itemNm}"
                        />
                    </label>
                    <div class="mt-8"></div>
                    <input
                            class=""
                            id="itemNm"
                            type="text"
                            placeholder="상품명을 입력해주세요"
                    />
                    <div class="mt-20"></div>
                    <label th:for="price" class="itemUpdateForm_inputLabel">
                        가격
                        <img
                                src="/images/global/icon-asterisk.png"
                                alt="icon"
                                class="itemUpdateForm_inputLabel_img"
                                th:field="*{price}"
                        />
                    </label>
                    <div class="mt-8"></div>
                    <input
                            class=""
                            id="price"
                            type="text"
                            placeholder="상품의 가격을 입력해주세요"
                    />
                    <div class="mt-20"></div>
                    <label th:for="stockNumber" class="itemUpdateForm_inputLabel">
                        재고 수량
                        <img
                                src="/images/global/icon-asterisk.png"
                                alt="icon"
                                class="itemUpdateForm_inputLabel_img"
                                th:field="*{stockNumber}"
                        />
                    </label>
                    <div class="mt-8"></div>
                    <input
                            class=""
                            id="stockNumber"
                            type="text"
                            placeholder="상품의 재고 수량을 입력하세요"
                    />
                    <div class="mt-20"></div>
                    <label th:for="itemDetail" class="itemUpdateForm_inputLabel">
                        상품 설명
                        <img
                                src="/images/global/icon-asterisk.png"
                                alt="icon"
                                class="itemUpdateForm_inputLabel_img"
                                th:field="*{itemDetail}"
                        />
                    </label>
                    <div class="mt-8"></div>
                    <input
                            class=""
                            id="itemDetail"
                            type="text"
                            placeholder="상품 설명 내용을 입력해주세요"
                    />
                    <div class="mt-20"></div>
                    <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
                        <div class="itemUpdateForm_inputLabel">상품 대표 이미지 (JPG/PNG 형식만 가능, 파일 사이즈 20MB 이하)
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <input
                                type="file"
                                accept=".jpg, .png"
                                class="custom-file-input"
                                name="itemImgFile"
                        >
                        <div class="mt-20"></div>
                        <div class="itemUpdateForm_inputLabel">상품 설명 이미지 (JPG/PNG 형식만 가능, 5개 파일로 제한, 각 파일 사이즈 20MB 이하)
                            <!--                            <img-->
                            <!--                                    src="/images/Update/icon-asterisk.png"-->
                            <!--                                    alt="icon"-->
                            <!--                                    class="itemUpdateForm_inputLabel_img"-->
                            <!--                            />-->
                        </div>
                        <div class="mt-8"></div>
                        <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                            <input
                                    type="file"
                                    accept=".jpg, .png"
                                    class="custom-file-input"
                                    name="itemImgFile"
                            >
                            <div class="mt-8"></div>
                        </div>
                    </div>
<!--                    <div th:unless="${#strings.isEmpty(itemFormDto.id)}">-->
<!--                        <div class="itemUpdateForm_inputLabel">상품 대표 이미지 (JPG/PNG 형식만 가능, 파일 사이즈 20MB 이하)-->
<!--                            <img-->
<!--                                    src="/images/global/icon-asterisk.png"-->
<!--                                    alt="icon"-->
<!--                                    class="itemUpdateForm_inputLabel_img"-->
<!--                            />-->
<!--                        </div>-->
<!--                        <div class="mt-8"></div>-->
<!--                        <input-->
<!--                                type="file"-->
<!--                                accept=".jpg, .png"-->
<!--                                class="custom-file-input"-->
<!--                                name="itemImgFile"-->
<!--                        >-->
<!--                        <div class="mt-20"></div>-->
<!--                        <div class="itemUpdateForm_inputLabel">상품 설명 이미지 (JPG/PNG 형식만 가능, 5개 파일로 제한, 각 파일 사이즈 20MB 이하)-->
<!--                            &lt;!&ndash;                            <img&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    src="/images/Update/icon-asterisk.png"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    alt="icon"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    class="itemUpdateForm_inputLabel_img"&ndash;&gt;-->
<!--                            &lt;!&ndash;                            />&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="mt-8"></div>-->
<!--                        <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">-->
<!--                            <input-->
<!--                                    type="file"-->
<!--                                    accept=".jpg, .png"-->
<!--                                    class="custom-file-input"-->
<!--                                    name="itemImgFile"-->
<!--                            >-->
<!--                            <div class="mt-8"></div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="mt-20"></div>
                    <div class="radioContent_wrapper">
                        <div class="title">술 종류
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <div class="radio_wrapper">
                            <div class="form-check form-check-inline">
                                <label for="productType1" class="form-check-label">탁주</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="productType1"
                                       th:field="*{type}"
                                       th:value="A"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="productType2" class="form-check-label">약주</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="productType2"
                                       th:field="*{type}"
                                       th:value="B"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="productType3" class="form-check-label">증류수</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="productType3"
                                       th:field="*{type}"
                                       th:value="C"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="productType4" class="form-check-label">과실주</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="productType4"
                                       th:field="*{type}"
                                       th:value="D"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mt-20"></div>
                    <label th:for="abv" class="itemUpdateForm_inputLabel">
                        술 도수
                        <img
                                src="/images/global/icon-asterisk.png"
                                alt="icon"
                                class="itemUpdateForm_inputLabel_img"
                        />
                    </label>
                    <div class="mt-8"></div>
                    <input
                            class=""
                            id="abv"
                            type="number"
                            placeholder="알콜도수를 입력해주세요"
                            th:field="*{abv}"
                    />
                    <div class="mt-20"></div>
                    <div class="radioContent_wrapper">
                        <div class="title">단맛
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <div class="radio_wrapper">
                            <div class="form-check form-check-inline">
                                <label for="sweetness1" class="form-check-label">약간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sweetness1"
                                       th:field="*{sweetness}"
                                       th:value="1"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sweetness2" class="form-check-label">중간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sweetness2"
                                       th:field="*{sweetness}"
                                       th:value="2"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sweetness3" class="form-check-label">강한</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sweetness3"
                                       th:field="*{sweetness}"
                                       th:value="3"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mt-20"></div>
                    <div class="radioContent_wrapper">
                        <div class="title">신맛
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <div class="radio_wrapper">
                            <div class="form-check form-check-inline">
                                <label for="sourness1" class="form-check-label">약간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sourness1"
                                       th:field="*{sourness}"
                                       th:value="1"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sourness2" class="form-check-label">중간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sourness2"
                                       th:field="*{sourness}"
                                       th:value="2"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sourness3" class="form-check-label">강한</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sourness3"
                                       th:field="*{sourness}"
                                       th:value="3"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mt-20"></div>
                    <div class="radioContent_wrapper">
                        <div class="title">탄산
                            <img
                                    src="/images/global/icon-asterisk.png"
                                    alt="icon"
                                    class="itemUpdateForm_inputLabel_img"
                            />
                        </div>
                        <div class="mt-8"></div>
                        <div class="radio_wrapper">
                            <div class="form-check form-check-inline">
                                <label for="sparkling1" class="form-check-label">약간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sparkling1"
                                       th:field="*{sparkling}"
                                       th:value="1"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sparkling2" class="form-check-label">중간</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sparkling2"
                                       th:field="*{sparkling}"
                                       th:value="2"
                                >
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sparkling3" class="form-check-label">강한</label>
                                <input type="radio"
                                       class="form-check-input radioSize"
                                       id="sparkling3"
                                       th:field="*{sparkling}"
                                       th:value="3"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mt-20"></div>
                    <button
                            class="button_UpdateSocialForm"
                            font-weight="500"
                            type="submit"
                            width="335px"
                            height="50px"
                    >
                        상품수정 완료
                    </button>
                    <div class="mb-50"></div>
                </form>
            </div>
        </div>
    </div>

</th:block>

</html>