<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<header th:fragment="header">
    <div class="fixed-header">
        <div class="header_nav_wrapper">
            <section class="navigation_menu">
                <div class="logo_wrapper">
                    <div class="img_wrapper">
                        <a class="navbar-brand img_wrapper" href="/">
                            <img
                                    src="/images/header/main-logo.png"
                                    alt="술담화 로고"
                                    width="60"
                                    height="24"
                            />
                        </a>
                    </div>
                </div>
                <ul class="landing_list">
                    <li class="">구독</li>
                    <li class="selected">
                        <a href="/">스토어</a>
                    </li>
                    <li class="header_search">
                        <div class="inner">
                            <img
                                    class="search-icon"
                                    src="/images/header/searchIcon.svg"
                                    alt="search_icon"
                            />
                            <span class="search_text">무엇을 찾고 계신가요?</span>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="user_menu">
                <ul class="user_list">
                    <li>
                        <ul class="li_wrapper">
                            <li class="login" sec:authorize="isAnonymous()">
                                <a class="" href="/login">로그인/회원가입</a>
                            </li>
                        </ul>
                        <img
                                src="/images/header/icon-right-arrow.png"
                                alt="오른쪽 화살표 아이콘"
                                width="15"
                        />
                    </li>
                    <li class="username" th:text="${nickname}" sec:authorize="isAuthenticated()"></li>
                    <li sec:authorize="isAuthenticated()"><a href="/">님 회원정보</a>
                        <img
                                src="/images/header/icon-arrow-right-blue.png"
                                alt="우측 화살표 아이콘"
                                width="12" height="12" style="margin-left: 2px;"
                        >
                    </li>
                    <li class="logout" sec:authorize="isAuthenticated()">로그아웃</li>
                    <div class="basket_icon" sec:authorize="isAuthenticated()">
                        <img
                                src="/images/header/icon-header-basket.png"
                                alt="장바구니 아이콘"
                        />
                    </div>
                </ul>
            </section>
        </div>
    </div>
</header>

</html>
