<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

    <header th:fragment="header">
        <div class="fixed-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img
                                src="./images/main/main-logo.png"
                                alt="술담화 로고"
                                width="60"
                                height="24"
                        />
                    </a>

                    <ul class="navbar-nav landing-list">
                        <li class="">구독</li>
                        <li class="">스토어</li>
                        <li class="style__SearchInputWrapper-sc-1qxy9aq-0 fTUhYn">
                            <div class="inner">
                                <img
                                        class="search-icon"
                                        src="./images/main/searchIcon.svg"
                                        alt="search_icon"
                                /><span class="search-text">무엇을 찾고 계신가요?</span>
                            </div>
                        </li>
                    </ul>

                    <div
                            class="collapse navbar-collapse justify-content-end"
                            id="navbarNav"
                    >
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-person-fill"></i> 로그인
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-person-plus-fill"></i> 회원가입
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

</html>
