/* footer custom
-------------------------------------------------- */

.footer_wrapper {
    width:100%;
    padding:30px 20px 50px;
    background:white;
    border-top:1px solid rgb(224, 224, 224);
}
.footer_wrapper .footer_outer {
    width:100%;
    max-width: 1240px;
    margin:0 auto;
}
.footer_outer .footer_top {
    display:flex;
    justify-content:space-between;
}
.footer_top .footer_top_left {
    height:100%;
    color:rgb(62, 62, 62);
    font-size:12px;
}

.footer_top_left .company {
    margin-bottom:16px;
    font-weight:bold;
    font-size:16px;
    line-height:16px;
    word-break:keep-all;
}
.footer_top_left .call {
    font-size:11px;
    line-height:11px;
}
.footer_top_left p:nth-child(2) {
    margin-bottom:8px;
}
.footer_top .footer_top_right {
    min-width:182px;
    padding:0;
    margin:0;
    list-style:none;
    overflow:hidden;
}
.footer_top_right .sns {
    padding:0;
    float:left;
    margin-right:8px;
}
.footer_top_right .sns:last-child {
    margin-right:0 !important;
}
.footer_middle {
    margin:24px 0;
    display:flex;
    font-weight:bold;
    font-size:12px;
    line-height:12px;

}
.footer_middle a {
    margin-right:20px;
    color:rgb(62, 62, 62);
}
.footer_bottom {
    width:100%;
    color:rgb(112, 112, 112);
    font-size:12px;
    line-height:21px;
}
.footer_bottom a {
    display:inline-block;
    color:rgb(112, 112, 112);
    text-decoration:underline;
}
.mr-12 {
    margin-right:12px;
}
.mr-8 {
    margin-right:8px;
}
.footer_bottom .display_flex {
    display:flex;
    flex-wrap:wrap;
}
.footer_bottom .regulation {
    margin-top:24px;
    color:rgb(178, 178, 178);
}
.footer_bottom .regulation p {
    line-height:16px;
}
.footer_bottom .regulation a {
    margin-top:10px;
    color:rgb(178, 178, 178);
}