@import url("/css/SpoqaHanSansNeo.css");

@font-face {
    font-family: NanumBarunGothic;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot);
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix) format("embedded-opentype"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff) format("woff"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf) format("truetype")
}

@font-face {
    font-family: NanumBarunGothic;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot);
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix) format("embedded-opentype"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff) format("woff"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf) format("truetype")
}

@font-face {
    font-family: NanumBarunGothic;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot);
    src: url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix) format("embedded-opentype"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff) format("woff"),url(https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf) format("truetype")
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
    margin: 0;
    color: rgba(0,0,0,.65);
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-abvailable;
    padding-right: 0!important;
    overflow: auto!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5715;
    font-size: 14px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant: tabular-nums
}

.overflow-hidden {
    overflow: hidden!important
}

* {
    font-family: Spoqa Han Sans Neo,"sans-serif";
    color: inherit
}

p {
    margin: 0;
    padding: 0
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none
}

iframe {
    border: 0
}

*,:after,:before {
    box-sizing: border-box
}

input::-ms-clear,input::-ms-reveal {
    display: none
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #40a9ff
}

a:active {
    color: #096dd9
}

a:active,a:focus,a:hover {
    text-decoration: none;
    outline: 0
}

a[disabled] {
    color: rgba(0,0,0,.25);
    cursor: not-allowed;
    pointer-events: none
}

.ql-viewer blockquote,.ql-viewer h1,.ql-viewer h2,.ql-viewer h3,.ql-viewer h4,.ql-viewer h5,.ql-viewer h6,.ql-viewer ol,.ql-viewer p,.ql-viewer pre,.ql-viewer ul {
    margin: 0;
    padding: 0
}

.ql-viewer {
    padding: 12px 0;
    width: 100%;
    text-align: unset
}

.ql-viewer .ql-font-serif {
    font-family: Georgia,Times New Roman,serif
}

.ql-viewer .ql-font-monospace {
    font-family: Monaco,Courier New,monospace
}

.ql-viewer .ql-size-small {
    font-size: .75em
}

.ql-viewer .ql-size-large {
    font-size: 1.5em
}

.ql-viewer .ql-size-huge {
    font-size: 2.5em
}

.ql-viewer .ql-direction-rtl {
    direction: rtl;
    text-align: inherit
}

.ql-viewer .ql-align-center {
    text-align: center
}

.ql-viewer .ql-align-justify {
    text-align: justify
}

.ql-viewer .ql-align-right {
    text-align: right
}

.ql-viewer blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px
}

.ql-viewer code,.ql-viewer pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 6px 10px
}

.ql-viewer p {
    font-weight: 400
}

.ql-viewer ul>li[data-checked=true]:before {
    content: "\2611"
}

.ql-viewer ul>li[data-checked=false]:before {
    content: "\2610"
}

.ql-viewer ol>li,.ql-viewer ul>li {
    list-style-type: none
}

.ql-viewer img {
    width: 100%;
    margin: 20px 0
}

.ql-viewer ol {
    counter-reset: mylist
}

.ql-viewer ol>li:before {
    counter-increment: mylist;
    content: counter(mylist,decimal) ". "
}

.ql-viewer ol ol>li:before {
    content: counter(mylist,lower-alpha) ". "
}

.ql-viewer ol ol ol>li:before {
    content: counter(mylist,lower-roman) ". "
}

.ql-viewer ol ol ol ol>li:before {
    content: counter(mylist,decimal) ". "
}

.ql-viewer ol ol ol ol ol>li:before {
    content: counter(mylist,lower-alpha) ". "
}

.ql-viewer ol ol ol ol ol ol>li:before {
    content: counter(mylist,lower-roman) ". "
}

.ql-viewer ol ol ol ol ol ol ol>li:before {
    content: counter(mylist,decimal) ". "
}

.ql-viewer ol ol ol ol ol ol ol ol>li:before {
    content: counter(mylist,lower-alpha) ". "
}

.ql-viewer ol ol ol ol ol ol ol ol ol>li:before {
    content: counter(mylist,lower-roman) ". "
}

.ql-viewer .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em
}

.ql-viewer .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em
}

.ql-viewer .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em
}

.ql-viewer .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em
}

.ql-viewer .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em
}

.ql-viewer .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em
}

.ql-viewer .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em
}

.ql-viewer .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em
}

.ql-viewer .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em
}

.ql-viewer .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em
}

.ql-viewer .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em
}

.ql-viewer .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em
}

.ql-viewer .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em
}

.ql-viewer .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em
}

.ql-viewer .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em
}

.ql-viewer .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em
}

.ql-viewer .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em
}

.ql-viewer .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em
}

.ql-viewer .ql-video {
    display: block;
    max-width: 100%
}

.ql-viewer .ql-video.ql-align-center {
    margin: 0 auto
}

.ql-viewer .ql-video.ql-align-right {
    margin: 0 0 0 auto
}

.MuiPopover-root ul {
    padding: 0
}

.MuiInput-underline {
    border: none
}