/* main custom
-------------------------------------------------- */

.fixed-header {
    width:100%;
    height:56px;
    margin:0 auto;
    padding:0 69px;
    display:flex;
    align-items:center;
    position:sticky;
    left:0;
    top:0;
    z-index:999;
    background:white;
    border-bottom:0.5px solid rgb(224, 224, 224);
}
.header_nav_wrapper {
    width:100%;
    max-width:1144px;
    height:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}
.header_nav_wrapper .navigation_menu {
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;

    padding:0;
    margin-right:30px;
}
.navigation_menu .logo_wrapper {
    height:56px;
    padding-right:30px;
}
.navigation_menu .img_wrapper {
    height:100%;
    display:flex;
    align-items:center;
}
.navigation_menu .landing_list{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.landing_list li {
    cursor:pointer;
    display:block;
    font-size:16px;
    font-weight:bold;
    color:rgb(62, 62, 62);
    margin-right:20px;
    white-space:nowrap;
}
.landing_list > li.selected {
    color:rgb(0, 150, 243);
}
.landing_list li:last-child{
    width:100%;
    margin-right:10px;
}
.landing_list .header_search {
    min-width:180px;
    max-width:230px;
    height:40px;
    padding-left:15px;
    font-size:14px;
    color:rgb(62, 62, 62);
    background-color:rgb(247, 247, 247);
    border-radius:5px;
}
.header_search .inner {
    max-width:200px;
    height:100%;
    display:flex;
    align-items:center;
}
.header_search .inner .search_text {
    color:rgb(178, 178, 178);
    font-size:14px;
    line-height:14px;
    font-weight:400;
    margin-left:10px;
    margin-top:1px;
}

.user_menu {
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.user_menu .user_list {
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.user_menu .user_list > li {
    padding-right:20px;
    display:flex;
    align-items:center;
    white-space:nowrap;
    color:rgb(62, 62, 62);
    font-size:14px;
    font-weight:bold;
    line-height:18px;
    cursor:pointer;
}
.user_list li .login {
    padding:0;
    font-weight:normal;
}
.user_list li .login a {
    color:rgb(62, 62, 62);
}
.user_list li .logout {
    color:rgb(62, 62, 62);
}
.user_list li img {
    padding-bottom:1px;
}
.user_list li:nth-child(2){
    margin-left:5px;
}
.user_list .username {
    padding-right:0px;
    text-align:right;
    text-overflow:ellipsis;
    overflow:hidden;
}

.user_list .basket_icon {
    cursor:pointer;
    height:28px;
    position:relative;
}
.basket_icon img {
    width:28px;
    height:28px;
}



