.mt-64 {
    margin-bottom:64px;
}
.content_wrapper {
    width: 100%;
    max-width: 1184px;
    min-height: 1000px;
    padding: 20px 0px 250px;
    margin: 0px auto;
    text-align: center;
    background: white;
}
.content_wrapper .itemDetailContent_wrapper {
    width: 100%;
    max-width: 700px;
    display: inline-block;
}
.itemDetailContent_wrapper .itemDetail_wrapper {
    color: rgb(112, 112, 112);
    font-weight: bold;
    display:flex;
}
.itemDetail_wrapper .itemDetail_box {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position:relative;
    display:flex;
}
.itemDetail_box .img_itemWrapper {
    width:320px;
    height: 100%;
    outline: none;
    float: left;
    display: inline-block;
    position:relative;
}
.img_itemWrapper span {
    box-sizing: border-box;
    overflow: hidden;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 133.33% 0px 0px;
}
.img_itemWrapper img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width:100%;
    height:100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.itemDetail_box .itemDetail_content {
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.itemDetail_content .content_top {
    line-height: 1.11;
    text-align: left;
    margin-bottom: 10px;
}
.content_top .title {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 27ch;
}
.itemDetail_content .content_middle {
    line-height: 1.11;
    text-align: left;
    margin-bottom: 30px;
}
.content_middle .itemTag {
    font-size: 16px;
    color: rgb(255, 186, 0);
    margin-bottom: 10px;
}
.itemDetail_content .itemRating {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.itemRating .stars {
    display: inline-flex;
    position: relative;
    font-size: 1.875rem;
    color: #faaf00;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}
.itemRating .star {
    font-weight: 700;
    font-size: 15px;
    color: rgb(62, 62, 62);
    margin: 8px 0px 0px 8px;
}

.itemDetail_content .content_bottom {
    line-height: 1.14;
    margin-bottom: 50px;
}
.content_bottom .content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(112, 112, 112);
    margin-bottom: 10px;
    word-break: keep-all;
}
.content label {
    margin-right: 5px;
}
.content .fontStyle {
    color: rgb(178, 178, 178);
    text-align: left;
}




.itemRating .reviewCount {
    margin-left: 10px;
    margin-bottom: -8px;
    text-decoration: none;
}
.itemDetail_content .content_price {
    margin-bottom: 0px;
    font-size: 14px;
    color: rgb(178, 178, 178);
    line-height: 1.14;
}
.content_price .priceTitle {
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(112, 112, 112);
    margin-bottom: 10px;
    word-break: keep-all;
}
.content_price .itemPrice {
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
    margin-top: 3px;
    margin-bottom: 15px;
}
.itemPrice .originalPrice {
    text-decoration: line-through;
    color: rgb(178, 178, 178);
    margin-right: 10px;
    margin-left: 0px;
    font-size: 16px;
}
.itemPrice .salePrice {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 6px;
}
.salePrice .salePriceText {
    font-size: 30px;
    margin-left: 0px;
}
.content_price .expirationStorage {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(112, 112, 112);
    margin-bottom: 10px;
    word-break: keep-all;
}
.expiration label {
    margin-right: 5px;
}
.expiration .blue {
    color: rgb(0, 150, 243);
}
.itemDetailContent_wrapper .mb-60 {
    margin-bottom: 66px;
}
.itemDetailContent_wrapper .keyPoint_wrapper {
    width: 100%;
    margin: 0px auto 66px;
    padding: 50px 75px 70px;
    display: inline-block;
    background-color: rgb(244, 244, 244);
    font-weight: bold;
    color: rgb(112, 112, 112);
}
.keyPoint_wrapper .keyPointTitle {
    max-width: none;
    margin-bottom: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(62, 62, 62);
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.keyPoint_wrapper .key_wrapper {
    margin-bottom: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: white;
}
.key_wrapper .img_keyWrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.img_keyWrapper img {
    width: 80px;
    margin: 10px 0px 0px 10px;
    border-radius: 50%;
    background-color: rgb(255, 186, 0);
}
.img_keyWrapper span {
    width:80px;
}
.img_keyWrapper .label {
    padding-top: 52px;
    font-size: 18px;
}
.key_wrapper .content {
    font-weight: normal;
    font-size: 16px;
}

/* 상품 상세 페이지 내용 나누는 선 */
.itemDetailContent_wrapper .divideLine {
    width: 100%;
    height: 1px;
    margin: 50px 0px;
    background: rgb(238, 238, 238);
}

/* 상품 상세 페이지 하단 - 리뷰, 상품정보, 교환/반품 버튼 */
.itemDetailContent_wrapper .select_button_bottom_content {
    margin-top: 50px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.select_button_bottom_content button {
    height: 30px;
    margin-right: 12px;
    padding: 7px 12px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(178, 178, 178);
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}
.select_button_bottom_content .selected {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 243);
    border: none;
}

/* 상품 상세 페이지 - 리뷰 */
.itemDetailContent_wrapper .review_wrapper {
    width: 100%;
    color: rgb(112, 112, 112);
}
.review_wrapper .reviewSearch {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
}
.reviewSearch .filter_checkbox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.filter_checkbox svg {
    width:24px;
    height:24px;
    min-width: 23px;
    animation: 0.3s ease 0s 1 normal none running fadein;
}
.filter_checkbox span {
    margin-left: 8px;
    color: rgb(62, 62, 62);
}
.reviewSearch select {
    min-width: 100px;
    padding-right: 20px;
    appearance: none;
    outline: none;
    border: none;
    color: rgb(62, 62, 62);
    font-size: 13px;
    text-align: right;
    direction: rtl;
    background: url(/images/global/icon_arrow_under.png) 95% 50% / 10px no-repeat;
}
.review_wrapper .reviewContent_wrapper {
    margin-bottom: 50px;
    color: rgb(112, 112, 112);
    position: relative;
}
.reviewContent_wrapper .reviewContent_header {
    font-size: 13px;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    padding: 0px 30px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.reviewContent_header .reviewHeader_name {
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.reviewContent_header .reviewHeader_right {
    width: 80%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
}
.reviewHeader_right .itemName {
    margin-right: 10px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.reviewHeader_right .ratingStars {
    display: inline-flex;
    position: relative;
    font-size: 1.125rem;
    color: rgb(250, 175, 0);
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}
.ratingStars .stars_wrapper {
    display: inline-flex;
    position: relative;
    font-size: 1.125rem;
    color: rgb(250, 175, 0);
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    padding-bottom: 3px;
}
.stars_wrapper .stars_wrapper {
    position:relative;
}
.star_wrapper .star_style {

}


.reviewHeader_right .score {
    font-weight: 700;
    font-size: 13px;
    color: rgb(62, 62, 62);
    margin-left: 4px;
}
.reviewHeader_right .date {
    margin-left: 10px;
}
.reviewContent_wrapper .reviewContent_content {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    line-height: 2.08;
}
.reviewContent_content .content_text {
    text-align: left;
    line-height: 17px;
}
.reviewContent_content .content_img {
    margin-top: 20px;
    display: flex;
}
.content_img .reviewImg {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/detail/H39h-1685783466325-Screenshot_20230603_180843_KakaoTalk.jpg) 50% 50% / cover no-repeat;
    cursor: pointer;
}




/* 상품 상세 페이지 - 주문 */
.content_wrapper .itemOrderContent_wrapper {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    position: sticky;
    top: 100px;
    vertical-align: top;
    margin-left: min(100% - 1000px, 44px);
}
.itemOrderContent_wrapper .orderContentList {
    width: 300px;
    float: right;
    max-height: 100vh;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px 0px;
    font-weight: bold;
    color: rgb(112, 112, 112);
}
.orderContentList .title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(62, 62, 62);
}
.orderContentList .optionSelect_wrapper {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.optionSelect_wrapper .selectWrapper_style {
    width: 100%;
    height: 100%;
    padding:0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    align-items: center;
    position: relative;
}
.selectWrapper_style svg {
    width: 50px;
    height: 30px;
    fill: rgb(178, 178, 178);
    padding-right: 10px;
    user-select: none;
    display: inline-block;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}

.orderContentList .mb-20 {
    margin-bottom:20px;
}
.optionSelect_wrapper select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    -webkit-rtl-ordering: logical;
}
.optionSelect_wrapper .optionSelect {
    width:100%;
    height:100%;
    text-align:center;
    appearance: none;
    user-select: none;
    border-radius: 0px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding-right:24px;
    min-width:16px;

}
.orderContentList .count_wrapper {
    width:100%;
    height:45px;
    border-radius: 3px;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 28px;
    margin-bottom: 20px;
 }
.count_wrapper .count_minusPlus_img_wrapper {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.count_minusPlus_img_wrapper img {
    width: 24px;
    height: 24px;
}
.count_wrapper input {
    width: 100%;
    height: 100%;
    padding: 2px 0px 0px;
    margin: 0px 28px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-image: initial;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}
.orderContentList .totalPrice {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.orderContentList .delivery {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    font-weight: 400;
    background-color: rgb(247, 247, 247);
    margin-bottom: 60px;
    padding: 10px 6px;
    border-radius: 5px;
}
.delivery .deliveryIcon {
    display: inline-block;
    width: 30px;
    vertical-align: top;
}
.deliveryIcon img {
    width:20px;
}
.delivery .deliveryMsg {
    display: inline-block;
    width: 235px;
}
.deliveryMsg .font {
    font-weight: 500;
    color: rgb(23, 124, 254);
}
.orderContentList .button_wrapper {
    display: inline-block;
    position:relative;
}
.button_wrapper button {
    outline: none;
    cursor: pointer;
}
.button_wrapper .cart {
    width: 135px;
    margin-right: 5px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(61, 61, 61, 0.3);
    border-radius: 5px;
    padding: 0px;
    margin: 0px 0px 10px;
    color: rgba(61, 61, 61, 0.6);
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    box-shadow: none !important;
    text-shadow: none !important;
}
.cart img {
    width: 24px;
    vertical-align: text-bottom;
}