/* login custom
-------------------------------------------------- */
.mt-55 {
    margin-top:55px;
}
.login_wrapper {
    background:#fff;
}
.login_wrapper .login_top_banner {
    width:100%;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:sticky;
    position:-webkit-sticky;
    z-index:5;
    top:50px;
    background-color:rgb(81, 151, 242);
}
.login_top_banner .login_banner_message {
    font-weight:500;
    font-size:13px;
    line-height:100%;
    color:rgb(255, 255, 255);
}
.login_top_banner .login_banner_img {
    width:24px;
    height:24px;
    margin-left:5px;
}
.login_content_wrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin: 30px 0px 14px;
}
.login_content_box {
    width:335px;
}
.login_content_box .login_content_title_wrapper {
    margin:30px 0 14px 0;
    display:flex;
    align-items:center;
}
.login_content_title_wrapper .title {
    margin-right:3px;
    font-size:26px;
    font-weight:700;
    line-height:100%;
    color:rgb(62, 62, 62);
}
.login_content_title_wrapper img {
    width:30px;
    height:30px;
}
.login_content_box .login_content_subtitle_wrapper {
    display:flex;
    align-items:center;
}
.login_content_box .login_content_subtitle_wrapper img {
    margin-right:8px;
}
.login_content_subtitle_wrapper .sub-title {
    font-weight:400;
    font-size:16px;
    line-height:100%;
    color:rgb(112, 112, 112);
}
.login_content_gap {
    margin-top:64px;
}
.login_content_wrapper .bottom-buttons {
    padding-bottom:35px;
}
.default-gap {
    display:none;
}
.bottom-buttons .default-gap .add_gap {
    margin-top:272px;
}
.bottom-buttons .sns_buttons_wrapper {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.sns_buttons_wrapper .sns_buttons {
    width:335px;
    height:50px;
    margin-bottom:16px;
    font-weight:bold;
    font-size:13px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    cursor:pointer !important;
    border:none;
    border-radius:5px !important;
}
.sns_buttons_wrapper .button_kakao {
    display:flex;
    align-items:center;
    background-color:rgb(255, 232, 18);
    cursor:pointer;
}
.button_kakao svg {
    width:17px;
    height:17px;
    margin:0 14px 1px 23px;
    overflow:visible;
}
.button_kakao label {
    font-weight:500;
    font-size:15px;
    line-height:100%;
    color:rgb(52, 32, 32);
    cursor:pointer;
}
.sns_buttons_wrapper .button_naver {
    padding:0;
    background-color:rgb(4, 212, 97);
    color:white;
    cursor:pointer;
}
.button_naver img {
    width:24px;
    height:24px;
    margin:0 10px 0 20px;
}
.button_naver label {
    font-weight:500;
    font-size:15px;
    line-height:100%;
    color:rgb(255, 255, 255);
    cursor:pointer;
}
.bottom-buttons .button_email_login {
    width:335px;
    height:50px;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border:1px solid rgb(0, 150, 243);
    border-radius:5px !important;
}
.button_email_login img {
    width:24px;
    height:24px;
    margin:0 10px 0 20px;
}
.button_email_login label {
    font-weight:500;
    font-size:15px;
    ine-height:100%;
    color:rgb(0, 150, 243);
    cursor:pointer;
}
.email_loginFrom {
    width:335px;
    -ms-user-select:none;
    -moz-user-select:
    -moz-none;-khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.email_loginFrom input {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    width:100%;
    min-width:315px;
    height:50px;
    padding:14px;
    border:1px solid rgb(224, 224, 224);
    border-radius:5px;
    color:rgb(62, 62, 62);
    font-size:15px;
    line-height:22px;
    transition:0.3s;
}
.email_loginFrom .loginForm_gap {
    margin-top:16px;
}

.email_loginFrom .input-error-border {
    border-color:rgb(255, 71, 114);
}
.email_loginFrom input:hover {
    border-color:rgb(255, 71, 114);
}
.email_loginFrom input:hover input:focus {
    border-color:rgb(255, 71, 114);
}
.email_loginFrom input::placeholder {
    color:rgb(62, 62, 62);
}
.email_loginFrom .email_loginForm_password {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    position:relative;
}
.email_loginForm_password span {
    position:absolute;
    right:5%;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.email_loginFrom .loginForm_loginButton {
    width: 335px;
    height: 50px;
    background-color: rgb(0, 150, 243);
    border: 1px solid rgb(0, 150, 243);
    border-radius: 5px;
    padding: 0px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    box-shadow: none !important;
    text-shadow: none !important;
}
.email_loginFrom .loginForm_loginButton:hover {
    background-color: rgb(52, 99, 129);
}
.email_loginForm_wrapper .loginForm_signUpButton {
    width: 335px;
    height: 50px;
    margin-top: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: rgb(112, 112, 112);
}
.email_loginForm_wrapper .search_id_pw {
    margin-top:16px;
    display:flex;
    justify-content:center;
}
.search_id_pw a {
    margin:0 10px 0;
    font-weight:400;
    font-size:13px;
    line-height:100%;
    color:rgb(62, 62, 62);
    transition:none;
}
.search_id_pw a:hover {
    color:rgb(10, 10, 10);
}

.login_content_wrapper .mobile-gap {
    display:none;
}




