.mt-64 {
    margin-top:64px;
}
.content_wrapper {
    background:#fff;
}
.content_wrapper .register_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.register_wrapper .register_top_banner {
    width:335px;
}
.register_top_banner .register_banner_message {
    margin:30px 0 14px 0;
    display:flex;
    align-items:center;
}
.register_banner_message .title {
    margin-right:3px;
    font-size:26px;
    font-weight:700;
    line-height:100%;
    color:rgb(62, 62, 62);
}
.register_banner_message img {
    width:30px;height:30px;
}
.register_top_banner .register_banner_message_sub {
    display:flex;
    align-items:center;
}
.register_banner_message_sub img {
    margin-right:8px;
}
.register_banner_message_sub .sub-title {
    font-weight:400;
    font-size:16px;
    line-height:100%;
    color:rgb(112, 112, 112);
}
.register_wrapper .mt-64 {
    margin-top:64px;
}
.register_wrapper .signUp_agree_checkboxForm_wrapper {
    width:335px;
}
.signUp_agree_checkboxForm_wrapper .checkbox-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(62, 62, 62);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.checkbox-wrapper .svg_effect {
    min-width: 23px;
    animation: 0.3s ease 0s 1 normal none running fadein;
}
.ml-16 {
    margin-left: 16px;
}
.checkbox-wrapper .all-agree-text {
    width: 295px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}
.mt-28 {
    margin-top: 28px;
}
.checkbox-wrapper .agreeLink {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.agreeLink_arrow_icon_wrapper {
    width: 22px;
    height: 22px;
    padding: 9px 2px 7px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.mt-8 {
    margin-top: 8px;
}
.marketing_detail_message {
    margin-left: 38px;
    color: rgb(178, 178, 178);
}
.mt-20 {
    margin-top: 20px;
}
.button_agree_adultCert {
    width:350px;
    height:50px;
    background-color:rgb(0, 150, 243);
    box-shadow:none !important;
    border:1px solid rgb(0, 150, 243);
    border-radius:5px;
    padding:0px;
    margin:;
    color:rgb(255, 255, 255);
    white-space:nowrap;
    font-size:16px;
    font-weight:500;
    text-shadow:none !important;
    transition:0.3s;
}
.button_agree_adultCert:disabled {
    color:rgb(255, 255, 255) !important;
    background-color:rgb(178, 178, 178) !important;
    border:1px solid rgb(255, 255, 255) !important;
    cursor:not-allowed;
    margin:;
}
.button_agree_adultCert:hover {
    background-color: rgb(52, 99, 129);
}

     .checkbox-wrapper {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .checkbox-wrapper svg {
            margin-right: 10px;
        }
