<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<button id="adultCertButton">동의하고 성인 인증하기</button>

<script>
        const userCode = "imp47175133";
        IMP.init(userCode);

        document.getElementById("adultCertButton").addEventListener("click", function() {
            handleAdultCertification();
        });

        function handleAdultCertification() {
            IMP.certification(
                {
                    pg: "html5_inicis.MIIiasTest",
                    merchant_uid: "1570777386811537",
                    company: "sul",
                    m_redirect_url: "http://localhost/register/social",
                    popup: true,
                },
                function(rsp) {
                    if (rsp.success) {
                        console.log("본인인증 성공");
                    } else {
                         alert("본인인증 실패");
                    }
                }
            );
        }
    </script>
</body>
</html>