<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">

        <div class="footer_wrapper">
            <div class="footer_outer">
                <div class="footer_top">
                    <div class="footer_top_left">
                        <p class="company">이젠컴퓨터학원 팀프로젝트(술담화 사이트 따라하기)</p>
                        <p class="call">고객센터: 070-1234-5678</p>
                        <p>평일 09:20 - 18:10, 주말 휴무</p>
                    </div>
                    <ul class="footer_top_right">
                        <li class="sns">
                            <a
                                    href="https://www.instagram.com/sooldamhwa/?hl=ko"
                                    target="_blank"
                                    rel="noopener noreferrer"
                            ><img
                                    src="/images/footer/icon_instagram.png"
                                    width="35"
                                    height="35"
                                    alt="술담화 인스타그램 채널"
                            /></a>
                        </li>
                        <li class="sns">
                            <a
                                    href="https://www.youtube.com/channel/UCuhTvdO3VD-S3md_CkWYtbw"
                                    target="_blank"
                                    rel="noopener noreferrer"
                            ><img
                                    src="/images/footer/icon_youtube.png"
                                    width="35"
                                    height="35"
                                    alt="술담화 유튜브 채널"
                            /></a>
                        </li>
                        <li class="sns">
                            <a
                                    href="http://pf.kakao.com/_xktAgj"
                                    target="_blank"
                                    rel="noopener noreferrer"
                            ><img
                                    src="/images/footer/icon_kakao.png"
                                    width="35"
                                    height="35"
                                    alt="술담화 카카오톡 채널"
                            /></a>
                        </li>
                        <li class="sns">
                            <a
                                    href="https://www.facebook.com/sooldamhwa/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                            ><img
                                    src="/images/footer/icon_facebook.png"
                                    width="35"
                                    height="35"
                                    alt="술담화 페이스북 채널"
                            /></a>
                        </li>
                        <li class="sns">
                            <a
                                    href="https://blog.naver.com/sooldamhwa"
                                    target="_blank"
                                    rel="noopener noreferrer"
                            ><img
                                    src="/images/footer/icon_naver.png"
                                    width="35"
                                    height="35"
                                    alt="술담화 네이버 채널"
                            /></a>
                        </li>
                    </ul>
                </div>
                <div class="footer_middle">
                    <a href="/terms/policy">이용약관</a
                    ><a href="/terms/privacy">개인정보처리방침</a
                ><a
                        href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdft_3mPCaSpU_aj4NXnfrQkpFoY5VEGNW-9qtjKkTg87XT1Q/viewform?usp=sf_link"
                >입점문의</a
                >
                </div>
                <div class="footer_bottom">
                    <div class="display_flex">
                        <p class="mr-12">대표 : 홍길동</p>
                        <p class="mr-8">사업자등록번호 : 123-45-67890</p>
                        <a
                                class="mr-12"
                                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=6208158299"
                        >사업자확인</a
                        >
                        <p>통신판매 신고번호: 1234-서울서초-5678</p>
                    </div>
                    <div class="display_flex">
                        <p class="mr-12">
                            주소 : 경기도 성남시 돌마로 73, 7층(우방타워, 이젠컴퓨터학원)
                        </p>
                        <p class="mr-8">정보보호 책임자 : 홍길동</p>
                        <p class="mr-12">대표 전화 : 070-1234-5678</p>
                        <p class="mr-12">이메일 : teamproject@coding.com</p>
                    </div>
                    <div class="regulation">
                        <p>
                            학습용으로 술담화 웹사이트를 만들어보는 팀프로젝트 용도로, 상업적으로
                            사용하지 않습니다.
                        </p>
                        <p>
                            학습용 프로젝트로 만들어진 자료로 사용된 모든 자료는 술담화의 소유임을
                            안내드립니다.
                        </p>
                        <a
                                href="https://npg.nicepay.co.kr/issue/issueEscrow.do?Mid=IMPsoold1m&amp;CoNo=6208158299"
                        >서비스가입사실 확인</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>